# Requirements

In [25]:
from itertools import product
import pandas as pd
import numpy as np

# Introduction

# Introduction to Classical Logic Gates

Classical logic gates are the fundamental building blocks of digital circuits. They are used in various electronic devices and computing systems to perform basic logical operations. Each gate processes one or more binary inputs (0 or 1) to produce a single binary output. Understanding these gates is crucial for anyone studying electronics, computer engineering, or computer science. The most common classical logic gates are:

1. **NOT Gate**: A unary gate that inverts the input.
2. **AND Gate**: Outputs 1 only if all inputs are 1.
3. **OR Gate**: Outputs 1 if at least one input is 1.
4. **XOR Gate**: Outputs 1 only if the inputs are different.
5. **NAND Gate**: The inverse of AND Gate.
6. **NOR Gate**: The inverse of OR Gate.
7. **XNOR Gate**: The inverse of XOR Gate.

![Local Image](./images/classgates01.png)

# Functions

## obvious class gates

In [ ]:
# NOT Gate
def NOT(input):
    return 1 if input == 0 else 0

# AND Gate
def AND(input1, input2):
    return 1 if (input1 == 1 and input2 == 1) else 0

# OR Gate
def OR(input1, input2):
    return 1 if (input1 == 1 or input2 == 1) else 0

# XOR Gate
def XOR(input1, input2):
    return 1 if input1 != input2 else 0

# NAND Gate
def NAND(input1, input2):
    return 1 if not (input1 == 1 and input2 == 1) else 0

# NOR Gate
def NOR(input1, input2):
    return 1 if (input1 == 0 and input2 == 0) else 0

# XNOR Gate
def XNOR(input1, input2):
    return 1 if input1 == input2 else 0

## pythonic class gates

In [10]:
# Function to simulate OR Gate
def OR(A, B):
    return A | B

# Function to simulate AND Gate
def AND(A, B):
    return A & B

# Function to simulate NOT Gate
def NOT(A):
    return ~A+2

# Function to simulate NAND Gate
def NAND(A, B):
    return NOT(AND(A, B))

# Function to simulate NOR Gate
def NOR(A, B):
    return NOT(OR(A, B))

# Function to simulate XOR Gate
def XOR(A, B):
    return A ^ B

# Function to simulate XNOR Gate
def XNOR(A, B):
    return NOT(XOR(A, B))

## df class gates

In [39]:
# Create a DataFrame for each classical logic gate
def create_df_class_gates():
    # NOT Gate (Unary, so it only needs one column of input)
    df_not = pd.DataFrame({
        'Input': [0, 1],
        'NOT Output': [1, 0]
    })
    # AND Gate
    df_and = pd.DataFrame({
        'Input 1': [0, 0, 1, 1],
        'Input 2': [0, 1, 0, 1],
        'AND Output': [0, 0, 0, 1]
    })
    # OR Gate
    df_or = pd.DataFrame({
        'Input 1': [0, 0, 1, 1],
        'Input 2': [0, 1, 0, 1],
        'OR Output': [0, 1, 1, 1]
    })
    # XOR Gate
    df_xor = pd.DataFrame({
        'Input 1': [0, 0, 1, 1],
        'Input 2': [0, 1, 0, 1],
        'XOR Output': [0, 1, 1, 0]
    })
    # NAND Gate
    df_nand = pd.DataFrame({
        'Input 1': [0, 0, 1, 1],
        'Input 2': [0, 1, 0, 1],
        'NAND Output': [1, 1, 1, 0]
    })
    # NOR Gate
    df_nor = pd.DataFrame({
        'Input 1': [0, 0, 1, 1],
        'Input 2': [0, 1, 0, 1],
        'NOR Output': [1, 0, 0, 0]
    })
    # XNOR Gate
    df_xnor = pd.DataFrame({
        'Input 1': [0, 0, 1, 1],
        'Input 2': [0, 1, 0, 1],
        'XNOR Output': [1, 0, 0, 1]
    })
    return df_not, df_and, df_or, df_xor, df_nand, df_nor, df_xnor

## results class gates

In [32]:
def print_results_classgates(test_inputs):
    # Results
    results = {
        "NOT": [NOT(input[0]) for input in test_inputs],
        "AND": [AND(input[0], input[1]) for input in test_inputs],
        "OR": [OR(input[0], input[1]) for input in test_inputs],
        "XOR": [XOR(input[0], input[1]) for input in test_inputs],
        "NAND": [NAND(input[0], input[1]) for input in test_inputs],
        "NOR": [NOR(input[0], input[1]) for input in test_inputs],
        "XNOR": [XNOR(input[0], input[1]) for input in test_inputs],
    }
    return results

# Classical gates

In [42]:
# generates dataframes for each classical gate using function
df_not, df_and, df_or, df_xor, df_nand, df_nor, df_xnor = create_df_class_gates()
# generates 2-uples with test inputs
test_inputs = list(product([0, 1], repeat=2))
# runs the function to generate classical gates outputs
results = print_results_classgates(test_inputs)
results

{'NOT': [1, 1, 0, 0],
 'AND': [0, 0, 0, 1],
 'OR': [0, 1, 1, 1],
 'XOR': [0, 1, 1, 0],
 'NAND': [1, 1, 1, 0],
 'NOR': [1, 0, 0, 0],
 'XNOR': [1, 0, 0, 1]}

In [24]:
# Combination of AND, OR, and NOT gates
def combination(a, b, c):
    return a and not(b or c)

## NOT Gate

<img src="./images/not.png" width="200" height="200">

In [43]:
df_not

   Input  NOT Output
0      0           1
1      1           0

## AND Gate

<img src="./images/and.png" width="200" height="200">

In [44]:
df_and

   Input 1  Input 2  AND Output
0        0        0           0
1        0        1           0
2        1        0           0
3        1        1           1

## OR Gate

In [45]:
df_or

   Input 1  Input 2  OR Output
0        0        0          0
1        0        1          1
2        1        0          1
3        1        1          1

## XOR Gate

In [49]:
df_xor

   Input 1  Input 2  XOR Output
0        0        0           0
1        0        1           1
2        1        0           1
3        1        1           0

## NAND Gate

In [48]:
df_nand

   Input 1  Input 2  NAND Output
0        0        0            1
1        0        1            1
2        1        0            1
3        1        1            0

## NOR Gate

In [47]:
df_nor

   Input 1  Input 2  NOR Output
0        0        0           1
1        0        1           0
2        1        0           0
3        1        1           0

## XNOR Gate

In [46]:
df_xnor

   Input 1  Input 2  XNOR Output
0        0        0            1
1        0        1            0
2        1        0            0
3        1        1            1

# References

* https://www.researchgate.net/publication/363833055_Modelling_Logic_Gates_in_Python
* https://www.digitalocean.com/community/tutorials/logic-gates-in-python
* https://www.geeksforgeeks.org/logic-gates-in-python/
* https://gamedevacademy.org/python-logic-gates-tutorial-complete-guide/